Checks: >
    -*,
    android-*,
    # bugprone-*,
    # clang-analyzer-*,
    # cppcoreguidelines-*,
    # -cppcoreguidelines-pro-type-vararg,
    # -cppcoreguidelines-pro-type-union-access,
    # -cppcoreguidelines-pro-type-static-cast-downcast,
    # -cppcoreguidelines-avoid-non-const-global-variables,
    # -cppcoreguidelines-avoid-magic-numbers,
    # -cppcoreguidelines-macro-usage,
    # performance-*,
    # portability-*